:root {
  --form-button-color: #1690ff;
  --body-background-color: #f0f2f5;
  --form-background-color: #ffffff;
  --input-icon-color: rgba(0, 0, 0, 0.25);
  --input-text-color: #d9d9d9;
  --input-border-color: #ced4da;
}
