.form_input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  font-size: 12px;
  height: 30px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--input-text-color);
  background-color: var(--form-background-color);
  background-clip: padding-box;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
}
.form_input_container {
  position: relative;
  margin-bottom: 25px;
}
.with_prefix {
  padding-left: 30px;
}
.form_input_prefix {
  position: absolute;
  top: 8px;
  left: 12px;
  line-height: 0;
}
.input_icon {
  color: var(--input-icon-color) !important;
}
