.footer-form-links {
  background-color: var(--white);
  padding: 0 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
}
.footer-link {
  font-size: 12px;
}
